
# Playwright
node_modules/
/test-results/
reports/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/rerun/rerun.txt
 rerun/rerun.txt
 allure-results/


# Playwright
/playwright-report/
/downloads/